%h1
  = @user.username

%h3
  Recent Events

%ul
  - @user.awards.each do |award|
    %li
      = link_to award.tournament.name, award.tournament
      %span.badge 
        = award.amount

.pager
  %li.previous
    = link_to "Back", root_path

  - if current_user == @user
    %li
      = link_to "Edit", edit_user_registration_path
