%h1
  = @tournament.name
  %small
    = @tournament.start

%p 
  %b Organised by:
  = link_to @tournament.user.username, @tournament.user

- unless @tournament.matches.empty?
  %h2 Matches

  %p
    %ul.matches
      - @tournament.matches.order('start').each do |match|
        %li
          = render :partial => 'matches/match_item', :locals => {:match => match}

- unless @tournament.participants.empty?
  
  %h2 Winners

  %p
    %ul.winners
      - @tournament.results.each do |winner|
        %li
          = winner[0]
          %span.label.label-success= winner[1]
  %h2 Participants
  %p
    %ul.participants
      - @tournament.participants.each do |user|
        %li= user

%ul.pager
  %li.previous
    = link_to 'Back', tournaments_path
  %li
    = link_to 'Edit', edit_tournament_path(@tournament)
  %li.next
    = link_to 'New Match', new_tournament_match_path(@tournament)
