%h1
  = @tournament.name
  %small
    = @tournament.start

- unless @tournament.matches.empty?
  %h2 Matches

  %p
    %ul.matches
      - @tournament.matches.order('start').each do |match|
        %li
          = render :partial => 'matches/match_item', :locals => {:match => match}

- unless @tournament.participants.empty?
  
  %h2 Participants
  %p
    %ul.participants
      - @tournament.participants.each do |user|
        %li= user

    


%ul.pager
  %li.previous
    = link_to 'Back', tournaments_path
  %li
    = link_to 'Edit', edit_tournament_path(@tournament)
  %li.next
    = link_to 'New Match', new_tournament_match_path(@tournament)
