%h1
  = @tournament.name
  %small
    = @tournament.start

- unless @tournament.matches.empty?
  %p
    %h2
      Matches

    %ul.matches
      - @tournament.matches.order('start').each do |match|
        %li
          %strong
            = link_to match.name, match
          \-
          %span.game
            = match.game
          %span.start
            = distance_of_time_in_words match.start, Time.now
            - if match.start < Time.now
              ago
            - else
              away


%ul.pager
  %li.previous
    = link_to 'Back', tournaments_path
  %li
    = link_to 'Edit', edit_tournament_path(@tournament)
  %li.next
    = link_to 'New Match', new_tournament_match_path(@tournament)
