%h1 Listing awards

%table.table.table-bordered
  %tr
    %th User
    %th Tournament
    %th Amount
    %th
    %th
    %th

  - @awards.each do |award|
    %tr
      %td= award.print_username
      %td= link_to award.tournament.name, award.tournament
      %td= award.amount
      %td= link_to 'Show', award
      %td= link_to 'Edit', edit_award_path(award)
      %td= link_to 'Destroy', award, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Award', new_tournament_award_path
