%h1 Listing awards

%table.table.table-bordered
  %tr
    %th User
    %th Match
    %th Amount
    %th
    %th

  - @awards.each do |award|
    %tr
      %td= award.username
      %td= link_to award.match.name, award.match
      %td= award.amount
      %td= link_to 'Edit', edit_award_path(award)
      %td= link_to 'Destroy', award, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Award', new_match_award_path
