%p
  %b User:
  = @award.print_username
%p
  %b Match:
  = link_to @award.match.name, @award.match
%p
  %b Amount:
  = @award.amount

%ul.pager
  %li.previous
    = link_to 'Back', match_awards_path(@award.match)
  %li
    = link_to 'Edit', edit_award_path(@award)
