%p
  %b User:
  = @award.print_username
%p
  %b Tournament:
  = link_to @award.tournament.name, @award.tournament
%p
  %b Amount:
  = @award.amount

%ul.pager
  %li.previous
    = link_to 'Back', tournament_awards_path(@award.tournament)
  %li
    = link_to 'Edit', edit_award_path(@award)
