%h1
  = @match.name
  %small
    = link_to @match.tournament.name, @match.tournament
%p
  %b Game:
  = @match.game

%p 
  %b Start:
  = @match.start

%p
  %b Duration:
  = @match.p_duration + "h"

- unless @match.awards.empty?
  %p
    %h2
      Scores
    %table.table.table-bordered.awards
      %thead
        %tr
          %th Points
          %th Username
      %tbody
      - @match.total_scores.each do |award|
        %tr
          %td.text-center
            %span.badge.badge-info
              = award[1]
          %td
            = award[0]
    %p
      = link_to 'Points Breakdown', match_awards_path(@match), :class => 'btn btn-info btn-small'

%ul.pager
  %li.previous
    = link_to 'Back', tournament_matches_path(@match.tournament)
  %li
    = link_to 'Edit', edit_tournament_match_path(@match.tournament, @match)
  %li.next
    = link_to 'New Award', new_match_award_path(@match)
